# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      packName:
        description: 'Name of pack to release'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: set_var
        run: |
          content=`cat ./$INPUT_PACKNAME/meta.json`
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          echo "::set-output name=metaJson::$content"
      - name: Zip pack
        run: zip -r pack.zip $INPUT_PACKNAME/*
      - name: Release pack
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v${{ fromJson(steps.set_var.outputs.metaJson).version }}-$INPUT_PACKNAME"
          prerelease: false
          files: pack.zip
